<!-- Belly Button Biodiversity - Web Page -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flask Plotlyjs Example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <!-- https://media.giphy.com/media/MIbfwYuaiXKIo/giphy.gif / https://media.giphy.com/media/3o6MbhDT8mNUv50FPi/giphy.gif  / style="background-image: url(https://media.giphy.com/media/26tk0pgnBm620hIeQ/giphy.gif); background-size: cover; background-position: center; height: 400px; width: 900px;" -->
      <div class="col-md-12 jumbotron text-center" style="background-image: url(http://neurotechdavis.com/images/brain.png); background-size: cover; background-position: center; height: 400px;">
        <h1><font color="white"><b>Rat Race Dashboard</font></b></h1><br><br>
        <p><font color="white"><b>Use the Interactive Charts Below to Explore the Dataset</font></b></p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="description">
          <h2>Neural correlates of task switching in prefrontal cortex and primary auditory cortex in auditory cortex in a novel stimulus selection task for rodents</h2>
          <p>Welcome to the Rat Race Dashboard! Contrary to our title we will not show you rodents running on a track, but we will provide you with visualization based on data from the work of Dr. Chris Rodgers and Dr. Michael DeWeese, investigating rat responses in a Go/No-Go task experiment. These data look specifically at rat behavioral responses, although the study itself goes further to explore the prefrontal cortex and primary auditory cortex. 
            <br>
            The Go/No-Go rat paradigm is dependent on animals’ selective attention to target sounds despite static background. If you have ever heard of the cocktail party effect, this may sound familiar to you: the ability to hear your own name at a crowded party despite all the distractions. The researchers of this study hypothesize we can attribute this effect to the primary auditory cortex (A1) and the medial prefrontal cortex (mPFC) as previously mentioned. 
            <br>
            This experiment uses 4 conditions to test this in rats: a high pitched tone or a low pitched tone, or either the left or right side. When you pick a rat below, we will show their behaviors- a hit (success) or an error for each condition. 
            </p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="well">
          <h5>SELECT Sample:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Sample MetaData</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-5">
        <div id="pie"></div>
      </div>
      <div class="col-md-5">
        <div id="gauge"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="bubble"></div>
    </div>
  </div>


<hr>
<footer class="footer">
  <span class="bottom"style="margin: 40px;">
    <p>Rodgers CC, DeWeese MR. “Neural correlates of task switching in prefrontal cortex and primary auditory cortex in a novel stimulus selection task for rodents.” Neuron. 2014 Jun 4;82(5):1157-70. doi: 10.1016/j.neuron.2014.04.031.    </p>
    <p>For More, visit the website, Collaborative Research in Computational Neuroscience. <a href="http://crcns.org/data-sets/pfc/pfc-1/about-pfc-1">Collaborative Research in Computational Neuroscience.</a></p>
  </span>
</footer>

  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/bonus.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>


</html>